body{
background-color: black;
color: whitesmoke;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.link{
    color: rgb(218, 173, 119);
    font-weight: 600;
   padding-right: 22cm;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .1cm;
    font-size: 2cm; 
}

.nav-link-active{
    color: whitesmoke;
}

.nav-item{
    color:#f5f5f5;
}

.jumbotron{
    background-color: black;
}

.nrrclogo{
    float: right;
}

.card{
    background-color: black;
}


.secondary{
    display: flex;
    justify-content: center;
    padding: 1cm;
    margin: 1cm;
}

.secondary .card{
    width: 25%;
}

.researchtitle{
    padding-left: 1cm;
}

.ogsite{
    display: flex;
 
}

.textbutton{
   padding-left: 50px;
    justify-content: right;

}

.nrrc{
    padding-left: 1cm;
}

.iteration{
    padding-left: 1cm;
}